{% load static %}

<!--================Header Area =================-->
{% include 'theme/header.html' %}
<!--================End Header Area =================-->
    
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area" style="height:70px;">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Online Booking</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Online Booking</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================ Booking Submit Area  =================-->
        <section class=" section_gap about section animated animatedFadeInUp fadeInUp">
          
                <h3 class="section-title fadeInUp animated text-center" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;animation-name: fadeInUp;">
                <span style="font-size:17px;color:blue">THANK YOU!</span> <br> 
                <span  class="section-subcontent" style="font-size:22px;color:blue">for choosing Himalayan Village Resort </span></h3>
                
                <p class="text-center">Thank you for contacting us. Our team will get back to you shortly and assist you in your Enquiry.<br></p>
                <p class="text-center"><strong>Phone : +91 8889 00 0000, +91 97557 00000</strong></p>
                </div>
           
        </section>
        <!--================ Booking Submit Area  =================-->
        
<!--================ start footer Area  ===============-->
{% include 'theme/footer.html' %}  
<!--================ end footer Area  =================-->